$cyan: #00a5ce;
$blue: #374998;
$lightblue: #ebecf4;
$green: #74ce00;

body {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.4;
	margin: 2rem 1rem;
}

.quiz {
	margin: 0 auto;
	max-width: 960px;
}

.questions {
	list-style-type: none;
	padding: 0;
}

.question {
	position: relative;
	display: flex;
	background-color: $lightblue;
	padding: 1rem 3rem 1rem 1rem;
	margin-bottom: 10px;
	border-radius: 3px;
	overflow: hidden;

	&:hover:not(.question--active):not(.question--disabled) {
		cursor: pointer;
		background-color: darken($lightblue, 3%);
	}

	&:first-child {
		.question__status {
			&:before {
				content: none;
			}
		}
	}

	&:last-child {
		.question__status {
			&:after {
				content: none;
			}
		}
	}
}

.question--active {
	background: $blue;

	.question__title {
		color: $cyan;
	}

	.question__heading {
		color: white;
	}

	.question__number {
		color: white;
	}

	.question__status {
		background-color: darken($blue, 20%);
	
		&:before,
		&:after {
			background-color: darken($blue, 20%);
		}
	}
}

.question--disabled {
	&:hover {
		cursor: not-allowed;
	}

	.question__title {
		color: darken($lightblue, 10%);
		user-select: none;
	}

	.question__status {
		background-color: darken($lightblue, 10%);
	
		&:before,
		&:after {
			background-color: darken($lightblue, 10%);
		}
	}
}

.question--next {
	.question__status {
		&:after {
			background-color: darken($lightblue, 10%);
		}
	}
}

.question__block {
	margin-left: .75rem;
}

.question__title {
	font-size: 1.25rem;
	margin: 0;
	text-transform: uppercase;
	color: $blue;
	display: inline-block;
}

.question__number {
	position: absolute;
	right: 1rem;
	top: 1rem;
	color: darken($lightblue, 15%);
}

.question__total {
	&:before {
		content: '/';
		margin-right: .25rem;
	}
}

.question__content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	
	@media (min-width: 720px) {
		flex-direction: row;
	}
}

.question__heading {
	font-size: 1.5rem;
	margin: .5rem 0 .75rem 0;
	color: $cyan;
	flex-basis: 100%;
}

.question__answers {
	color: white;
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-bottom: 1rem;
}

.question__description {
	position: relative;
	margin-top: 1rem;
	max-width: 640px;
	color: white;
	flex: 2;
	border-top: 1px solid darken($blue, 20%);
	padding: 20px .33rem 0 .33rem;
	line-height: 1.5;
	
	@media (min-width: 720px) {
		margin-top: 0;
		border-top: 0;
		border-left: 1px solid darken($blue, 20%);
		padding: .5rem 0 .5rem 20px;
		align-self: flex-start;
	}

	&:before {
		content: 'i';
		font-weight: 700;
		position: absolute;
		width: 20px;
		height: 20px;
		top: calc(-20px + 10px);
		right: 10px;
		background-color: darken($blue, 20%);
		color: $cyan;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (min-width: 720px) {
			top: 10px;
			left: calc(-20px + 10px);
		}
	}
}

.question__label {
	padding: .33rem .66rem;
	display: inline-block;
	background: darken($blue, 10%);
	border-radius: 3px;
	margin-bottom: 5px;
	transition: background-color, .3s;
	
	@media (min-width: 720px) {
		margin-right: 2rem;
	}

	&:hover {
		cursor: pointer;
		background: darken($blue, 15%);
	}
}

.question__input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;

	&:checked + .question__label {
		background-color: $cyan;
	}
}

.question__submit {
	align-self: flex-start;
    border: none;
    padding: .5rem 1rem;
    margin: 1rem 0 0 0;
	background-color: white;
	color: $cyan;
    font-size: 1rem;
	border-radius: 3px;
    transition: background-color, .25s; 
    -webkit-appearance: none;
    -moz-appearance: none;

	&[disabled] {
		background-color: lighten($blue, 15%);
		color: lighten($blue, 25%);

		&:hover {
			background-color: lighten($blue, 15%);
			cursor: not-allowed;
		}
	}

	&:hover,
	&:focus {
		background-color: rgba(white, 0.9);
		cursor: pointer;
	}
}

.question__status {
	position: relative;
	margin-top: .33rem;
	width: 18px;
	height: 18px;
	min-width: 18px;
	background-color: $blue;
	border-radius: 50%;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;

	&:before,
	&:after {
		content: '';
		position: absolute;
		left: calc(50% - 1px);
		width: 2px;
		background-color: $blue;
	}

	&:before {
		height: 50px;
		bottom: 0;
	}

	&:after {
		height: 1000px;
		top: 0;
		z-index: -1;
	}
}

.question__answered {
	position: relative;
	background-color: $green;
	background: linear-gradient(to top, $green, $green 50%, lighten($green, 5%) 80%, lighten($green, 10%));
	width: 10px;
	height: 10px;
	border-radius: 50%;
	z-index: 1;
}

.results {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 2rem;

	@media (min-width: 720px) {
		flex-direction: row;
	}
}

.results__score {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: $cyan;
	padding: 2rem;
	border-radius: 3px;
	margin-right: 2rem;
	min-width: 200px;
	min-height: 200px;
	border-radius: 50%;
	
	@media (min-width: 720px) {
		//max-width: 200px;
	}

	span {
		line-height: 1;
	}
	
	span:first-child {
		font-weight: 700;
		font-size: 10rem;
		color: white;
		margin-top: -2rem;
	}
	
	span:last-child {
		font-size: 1.75rem;
		color: rgba(white, 0.75);
	}
}

.results__message {
	font-size: 4rem;
	font-weight: 700;
	color: $cyan;
	line-height: 0.9;
}
